body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.donation-header {
    text-align: center;
    background-color: #1daa97;
    color: #fff;
    padding: 40px;
}

.donation-header h1 {
    margin: 0;
    font-size: 2em;
}

.personal-info, .payment-info {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1daa97;
    font-size: 1.5em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    font-size: 0.9em;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input, select {
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

button {
    background-color: #1daa97;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1daa97;
}
.credit-card-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}

.credit-card-logos img {
    max-width: 50px; /* Adjust as needed */
    max-height: 30px; /* Adjust as needed */
    margin: 0 10px; /* Adjust as needed for spacing */
}