



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .fullscreen-image {
    width: 100vw;
    height: calc(100vh - 50px); 
    overflow: hidden;
  }
  
  .fullscreen-image img {
    width: 80%;
    height: 80%;
    object-fit: cover; }