
<div class="settings-container">
    <div class="settings-section">
      <h2>Paramètres de l'application</h2>
      <label for="theme">Thème :</label>
      <input type="text" id="theme" [(ngModel)]="appSettings.theme" placeholder="Entrez le thème" />
      
      <label for="fontSize">Taille de police :</label>
      <input type="text" id="fontSize" [(ngModel)]="appSettings.fontSize" placeholder="Entrez la taille de police" />
  
      <label for="language">Langue :</label>
      <input type="text" id="language" [(ngModel)]="appSettings.language" placeholder="Entrez la langue" />
  
      
  
      <button (click)="updateAppSettings()">Mettre à jour les paramètres</button>
    </div>
  </div>
  