body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: white; 
  padding: 10px 20px;
  color: #1DAA97 ; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h1 {
  margin-right: 10px;
}

.logo-container img {
  width: 50px; 
  height: auto;
}

nav {
  display: flex;
  align-items: center;
}

nav button {
  background: none;
  border: none;
  color:#1DAA97 ;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

.nav-right {
  margin-left: auto;
}


nav button:hover {
  text-decoration: underline;
}
