
<div class="header">
  <div class="logo-container">
  
    <h1>QuickWaited</h1>
    <img src ="assets\logoproject.png">
  </div>
  <nav>
    <button routerLink="/contact-us">ContactUs</button>
   <button routerLink="/about" >About</button>
   
   
   
  
   <button routerLink="/signin">SignIN</button>
   <button routerLink="/signup">SignUP</button>
   <button  routerLink="/solution">Solution</button>
    <div class="nav-right">
    
        <button routerLink="/admin-auth">admin</button>
        
    </div>
  </nav>
</div>

