body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  margin: 0;
}

.delete-comment-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color:whitesmoke;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-comment-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.delete-comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.delete-comment-form label {
  margin-bottom: 8px;
  color: #555;
}

.delete-comment-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.delete-comment-form button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
