<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin-auth.component.css"> 
    <title>quick waited</title>
    </head>
    <body>
      <div class="container">
        <img src="assets\clé.jpg">
      </div>
<div class="auth-container">
    <h2>Admin Login</h2>
    
       <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <form>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
  
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
  
      <button type="button" (click)="login()">Login</button>
      
      <button routerLink="/resetpassword" type="button" class="forgot-password" (click)="forgotPassword()">Forget Password</button>
    </form>
    
  </div>

 </body>
  