
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="resetpassword.component.css">
</head>

<body class="container">

  <div class="left-section">
    <img class="logo" src="assets/logoproject.png" alt="Logo">
    <h2>Forget Password</h2>
    <p>Choose your comfortable method </p>

    <div class="forgot-options">
      <label for="email-reset">Email Address:</label>
      <input type="text" id="email-reset" [(ngModel)]="emailReset" name="emailReset" required>

      <label for="phone-reset">Phone Number:</label>
      <input type="text" id="phone-reset" [(ngModel)]="phoneReset" name="phoneReset" required>

      <button type="button" class="continue" (click)="continue()">Continue</button>
      
      <button  routerLink="/signin" class="return-login">Return to login page</button>
    </div>
  </div>

  <div class="right-section">
    <img class="welcome-image" src="assets/creat.jpg" alt="Welcome Image">
  </div>

</body>

</html>




