<div class="search-container">
  <input class="search-input" type="text" placeholder="Rechercher..." />
  <button class="search-button" (click)="onSearch()"><img src="assets/search.png" alt="Rechercher" /></button>
</div>

<h1>LISTE POPULAR PROJECT</h1>

<div class="project-list">
  <button class="arrow" onclick="prevProject()">❮</button>

  
  <div class="card" id="project1">
    <img src="assets\save.jpg" alt="Project 1 Image" class="project-image" />
    <div class="project-details">
      <h2>Save children</h2>
    
      <div class="progress-bar">
        <div class="progress" style="width: 78%;"></div>
        <p class="percentage-text">78%</p>
      </div>
      <p>Montant recherché : $4900</p>
      <p>Catégorie : Health and Medical</p>
      <button  class="read-more-button" routerLink="/donation-projet">Read More&Donate</button>
    </div>
  </div>
  <div class="card" id="project1">
    <img src="assets\sports.jpg" alt="Project 1 Image" class="project-image" />
    <div class="project-details">
      <h2>Multi-purpose hall</h2>
     
      <div class="progress-bar">
        <div class="progress" style="width: 60%;"></div>
        <p class="percentage-text">60%</p>
      </div>
      <p>Montant recherché : $6000</p>
      <p>Catégorie : Sport</p>
      <button class="read-more-button"routerLink="/donation-projet">Read More&Donate</button>
    </div>
  </div>
  <div class="card" id="project1">
    <img src="assets\smart.jpg" alt="Project 1 Image" class="project-image" />
    <div class="project-details">
      <h2>Smart watch</h2>
      
      <div class="progress-bar">
        <div class="progress" style="width: 60%;"></div>
        <p class="percentage-text">60%</p>
      </div>
      <p>Montant recherché : $5000</p>
      <p>Catégorie : Technologie</p>
      <button  class="read-more-button" routerLink="/donation-projet">Read More&Donate</button>
    </div>
  </div>
 
  


  <button class="arrow" onclick="nextProject()">❯</button>
  
</div>
<h1>Explore industrie</h1>
  <div class="card-container">

    <div class="card">
      <img src="assets\doctor.jpg" alt="Health Image" class="card-image" />
      <div class="card-details">
        <h3>Health</h3>
      </div>
    </div>

    <div class="card">
      <img src="assets\gaming.jpg" alt="Gaming Image" class="card-image" />
      <div class="card-details">
        <h3>Gaming</h3>
      </div>
    </div>

    <div class="card">
      <img src="assets\technol.jpg" alt="Technology Image" class="card-image" />
      <div class="card-details">
        <h3>Technology</h3>
      </div>
    </div>

    <div class="card">
      <img src="assets\educat.jpg" alt="Education Image" class="card-image" />
      <div class="card-details">
        <h3>Education</h3>
      </div>
    </div>

    <div class="card">
      <img src="assets\disab.jpg" alt="Disability Image" class="card-image" />
      <div class="card-details">
        <h3>Disability</h3>
      </div>
    </div>

    <div class="card">
      <img src="assets\sports1.jpg" alt="Sports Image" class="card-image" />
      <div class="card-details">
        <h3>Sports</h3>
      </div>
    </div>

    <div class="card">
      <img src="assets\music.png" alt="Art & Culture Image" class="card-image" />
      <div class="card-details">
        <h3>Art & Culture</h3>
      </div>
    </div>

    <div class="card">
      <img src="assets\agri.jpg" alt="Agriculture Image" class="card-image" />
      <div class="card-details">
        <h3>Agriculture</h3>
      </div>
    </div>

    <div class="card">
      <img src="assets\others.jpg" alt="Others Image" class="card-image" />
      <div class="card-details">
        <h3>Others</h3>
      </div>
    </div>
  </div>
  <div class="header">
    <h1>Help them whenever they are in need</h1>
  </div>
  <div class="features-container">
    <div class="feature">
      <img src="assets/volunteer.png" alt="Volunteer Image">
      <h4>Become a Volunteer</h4>
      <p>I am interested in becoming a volunteer and making a positive contribution to my community.</p>
    </div>

    <div class="feature">
      <img src="assets/fundraising.png" alt="Fundraising Image">
      <h4>Quick Fundraising</h4>
      <p>I am eager to get involved in quick fundraising efforts and make a meaningful impact for our cause.</p>
    </div>

    <div class="feature">
      <img src="assets/donate1.jpg" alt="Donate Image">
      <h4>Start Donating</h4>
      <p>I am enthusiastic about starting to donate and making a positive difference in the lives of those in need.</p>
    </div>
  </div>
