
<div class="container">
    <div class="nav-right">
      
     
      <button routerLink="/contact">Contact</button>
      
      <button routerLink="/project-form">Insights</button>
       <button routerLink="/setting" >Setting</button>
       <button routerLink="/dashboard">Statistics</button>
      <button routerLink="/navbar">LogOut </button>
     
      
      
    </div>
    <div class="nav">
     
      <img src="assets\login2.png"><h4>My Account</h4>
    </div>
  </div>

  <h1>Quickwaitted crowdfunding</h1>
<router-outlet></router-outlet>


