

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 70px;
    height: auto;
    margin-right: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  
  
  
  .nav-right {
    margin-left: auto;
  }
  



.nav-right button {
  background-color:#1DAA97;
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .nav-right button:hover {
    background-color:#1DAA97; 
  }
  