

<div class="story-container">
    <h2 class="story-title">Our Project: Renewable Energy for a Sustainable Tomorrow</h2>
    <p class="story-description">
      Welcome to the crowdfunding campaign for our project, "Renewable Energy for a Sustainable Tomorrow." Our endeavor revolves around the powerful concept of harnessing clean energy to reshape the world we live in. In our vision, sustainability is not just a goal but an inherent part of every community's future.
    </p>
  
    <p class="story-description">
      Our flagship project is dedicated to creating an accessible renewable energy system that transcends barriers, making clean energy a universal reality. We believe in a world where communities of all sizes can benefit from eco-friendly technologies without compromising on efficiency.
    </p>
  
    <p class="story-description">
      Your contribution is pivotal in bringing this vision to life. By supporting our project, you actively participate in building a greener and more environmentally conscious world. Every dollar contributed takes us one step closer to implementing a sustainable energy solution that can positively impact communities globally.
    </p>
  
    <p class="story-description">
      As a token of our appreciation, we offer unique backer rewards, ranging from exclusive project updates to having your name featured on our benefactor wall. Your involvement, regardless of the contribution size, plays a significant role in the success of our mission.
    </p>
  
    <p class="story-description">
      Join us on this exciting journey towards a sustainable tomorrow. Your support is not just an investment in a project; it's a commitment to a future where clean energy is a shared resource that benefits us all. Together, let's make a lasting difference in the world of renewable energy.
    </p>
  </div>
  <div class="donation-container">
    <p>"Your contribution will pave the way for innovation and progress.<br>
       Join us in our mission to build a brighter future by contributing to our goal of raising $25,000.<br> 
       Every donation brings us one step closer to achieving our vision of a better tomorrow."</p>
  
       <button  routerLink="/donation-form">Donate now</button>
    
  