

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.chart-container {
  margin-bottom: 20px;
  width: 45%;
}

canvas {
  width: 100%;
  height: 200px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1DAA97;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

button:hover {
  background-color: #1DAA97;
}
