
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="seo.component.css">
    <title>SEO Marketing Page</title>
</head>
<body>
   

  <header>

    <h1>SEO Marketing</h1>
    <img src="assets\seo.png">
    <p>Improve your website's visibility and climb search results</p>
  </header>

  <section class="content">
    <h2>What is SEO Marketing?</h2>
    <img src="assets\seo1.png">
    <p>Search engine optimization (SEO) is a marketing strategy aimed at improving a website's visibility on search engine results pages (SERP). Techniques include keyword optimization, quality content creation, link building, improving site speed, and mobile-friendliness.</p>

    <h2>Why is SEO Marketing important?</h2>
    <p>Search engines are the primary way in which users discover websites. So, whether you produce informational content or commercial products, being seen in search by users is a large part of running a successful website.</p>
    <p>In commerce, 59% of shoppers use Google to research a purchase they plan to make in-store or online, while around half of consumers use Google to discover new products.</p>

    <h2>Types of SEO Marketing</h2>
    <p>SEO activities fall into three general categories. Let’s take a look at them:</p>
    <ol>
      <li><strong>On-page SEO</strong></li>
      <li><strong>Off-page SEO</strong></li>
      <li><strong>Technical SEO</strong></li>
    </ol>
  </section>

  <section class="tactics">
    
    <h2>SEO Marketing Tactics</h2>
    <img src="assets\seo2.png">
    <p>Whether you’re planning SEO for a Shopify store or another website, here are some core SEO marketing tactics to help you climb those search results.</p>

    <h3>1. Keyword Research</h3>
    <p>Every page of your website that appears in search engine rankings is associated with one or more keywords (also known as search queries). The first step in any SEO project is to find out which keywords your visitors are using to discover your site.</p>

    <h3>2. Competitive Analysis</h3>
    <p>Once you know which keywords to target, your next step is checking out competitors who are already ranking highly in search engines for those terms.</p>

    <h3>3. Active Link Building</h3>
    <p>Though it can be time-consuming, link building is a well-acknowledged way to enhance your search engine rankings. Attracting links to your website from more authoritative sites signals to search engines that your content is worth visitors’ time.</p>

    <h3>4. Image Optimization</h3>
    <p>While Google and other search engines are primarily concerned with the written content of your website, they also crawl your images and media. By optimizing the images on your website, you can enhance your on-page SEO while adding accessibility benefits for visitors to your webpages.</p>
  </section>

  <footer>
    <p>For more information, contact us: <a href="mailto:info@seomarketing.com">info@seomarketing.com</a></p>
  </footer>

</body>
</html>
