<app-navbar-creat></app-navbar-creat>

<div class="settings-container">
    <h2>Paramètres</h2>
    
    <div class="form-group">
        <label for="newPassword">Nouveau mot de passe:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" minlength="8">
    </div>
    
    <div class="form-group">
        <label for="confirmPassword">Confirmer le mot de passe:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" minlength="8" required>
        <div *ngIf="confirmPassword && newPassword !== confirmPassword" class="error-message">
            Les mots de passe ne correspondent pas.
        </div>
    </div>
    
    <div class="form-group">
        <label for="newImage">Nouvelle image de profil (URL ou téléchargement):</label>
        <input type="text" id="newImage" name="newImage" [(ngModel)]="newImage">
    </div>
    
    <div class="form-group">
        <label for="fileInput">Télécharger une nouvelle image:</label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*">
    </div>

    <button class="update-button" (click)="updateSettings()">Mettre à jour les paramètres</button>
</div>
