
<div class="footer-container">
    <div class="footer-content">
      <div class="footer-section left">
        <h2>QuickWaitted</h2>
  
        <img src="assets\logoproject.png" alt="Logo">
        <p>Fundly is dedicated to providing you<br>with the tools you need to raise<br>money for whatever your cause may <br>be.</p>
      </div>
      <div class="footer-section center">
        <h2>About Us</h2>
        <p>Fundraising Ideas  Blog</p>
        <p>Pricing     Terms Of Use</p>
        <p>PrivacyPolicy   FAQ</p>
        <p>About US    Sales</p>
        <p>Support    Press</p>
      </div>
      <div class="footer-section right">
        <h2>Follow Us</h2>
        <ul class="social-media">
          <li><img src="assets\fb1.png" >Facebook</li>
          <li><img src="assets\twiit1.png" >Twitter</li>
          <li><img src="assets\instagram1.png" >Instagram</li>
          <li><img src="assets\gool1.png" >Google+</li>
          <li><img src="assets\linkedin1.png" >Linkedin</li>
          <li><img src="assets\whats1.png" >Whatsapp</li>
        </ul>
      </div>
    </div>
    <div class="footer-line"></div>
    <div class="copyright-section">
      <p> QuickWaitted&copy; 2024</p>
    </div>
  </div>
  