
  
  h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  button {
    background-color:#1DAA97;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#1DAA97;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    margin-right: 20px; 
}

.auth-container {
    width: 40%;
    text-align: center;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container label,
.auth-container input,
.auth-container button {
    margin-bottom: 10px; 
}
