 <div class="container">
    <div class="nav-right">
      
     
      <button routerLink="/change-theme">Change Theme</button>
      
      <button routerLink="/validate-projects">Validate Projects</button>
     
      <button routerLink="/delete-comment">Delete Comment</button>
      
      <button routerLink="/admin-messages">contact creat</button>

      <button routerLink="/satisticals">Static project</button>

    </div>
    <div class="nav">
      <button routerLink="/navbar">LogOut admin</button>
      <img src="assets\login2.png">
    </div>
  </div>
  
<h1>Crowdfunding</h1>
<div class="image-container">

</div>

<router-outlet></router-outlet>




