
body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
    border: 0;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h1,h2{
    color:#1DAA97;
}

h3 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

p {
    margin-bottom: 15px;
}

