<section>
    <h2>Business Plan Coach</h2>
    <p>De plus en plus de personnes choisissent de devenir coach professionnel...</p>
    <img src="assets/coach2.png" alt="Image du Plan d'Affaires">
</section>

<section>
    <h2>L'élaboration du business plan d'un coach</h2>
    <p>Dois-je réaliser un business plan avant de devenir un coach professionnel ?...</p>
    <img src="assets/coach3.jpg" alt="Image du Résumé Exécutif">
</section>

<section>
    <h2>Comment établir l'Executive Summary d'un coach ?</h2>
    <p>Pour le réussir, vous pouvez télécharger notre executive summary pour un coach...</p>
    <img src="assets/coach1.jpg" alt="Image de l'Étude de Marché">
</section>

<section>
    <h2>Comment réaliser l'étude de marché d'un coach ?</h2>
    <p>Pour réussir votre étude de marché, vous pouvez utiliser notre étude de marché pour un coach...</p>
    <img src="assets/coach4.jpg" alt="Image du Modèle Économique">
</section>

<section>
    <h2>Les points essentiels du business plan d'un coach</h2>

    <section>
        <h3>Quel est le business model d’un coach ?</h3>
        <p>Le modèle économique d'un coach consiste à offrir un accompagnement à un individu, une équipe ou encore une organisation...</p>
        <img src="assets/coach5.jpg" alt="Image des Segments de Marché">
    </section>

    <section>
        <h3>Quels sont les segments de marché de votre activité de coaching ?</h3>
        <p>Dans le business plan de votre activité de coaching, vous devez identifier précisément le profil des personnes susceptibles de faire appel à vos services...</p>
        <img src="assets/coach6.jpg" alt="Image de l'Analyse de la Concurrence">
    </section>

</section>